

.container{
    margin-left: auto;
    margin-right: auto;
    width: 760px;
}

.box{
    background-color: rgb(164, 119, 206);
    padding: 30px;
    border: 5px solid rgb(105, 100, 100);
    margin: 30px;
    font-size: 20px;
    font-family: monospace;
}